<html>
    <head>
        <title>View</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap-4.1.3/css/bootstrap.min.css' %}">
        <style>
            body {
                    background-image: url("{% static 'images/bg.jpg' %}");
                }
        </style>
    </head>
    
    <body>
        <div class="card text-center">
            <div class="card-header">
                <form method="POST">
                    {% csrf_token %}
                    Are you sure you want to delete this post?
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Delete">
                    </div>
                </form>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{t_post.title}}</h5>
                <p class="card-text">{{t_post.txt}}</p>
                <a href="{% url 'UpdatePOST' t_post.id%}" class="btn btn-primary">Update</a>
            </div>
            <div class="card-footer text-muted">
                <div class="float-left mx-2">Likes: {{t_post.likes}}  </div>
                <div class="float-left mx-2"> Dislikes: {{t_post.dislikes}} &nbsp;&nbsp; <pre>     </pre></div>
                <div class="float-right">{{t_post.date}}</div>
            </div>
        </div>
        
    </body>
</html>